@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cafezinho</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cafezinho.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="color: #f0f0f0; height: 73px; background-color: #241E20">
            <img src="~/img/logo15.png" class="img-fluid px-3" style="max-width:20%" alt="logo Cafezinho" />
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #f0f0f0">Cafezinho</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 me-5">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color: #f0f0f0" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #f0f0f0" asp-area="" asp-controller="Registros" asp-action="Index">Registros</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" style="color: #f0f0f0" asp-area="" asp-controller="Carteira" asp-action="Index">Carteira</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" style="color: #f0f0f0" asp-area="" asp-controller="Clientes" asp-action="FiltroCliente">Meu cadastro</a>
                            </li>

                            @if(User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" style="color: #f0f0f0" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: #f0f0f0" asp-area="" asp-controller="Ativos" asp-action="Index">Ativos</a>
                                </li>
                            }
                        }
@*                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <ul class="navbar-nav d-flex gap-4 px-4">
                @if(User.Identity.IsAuthenticated)
                {
@*                    <li>
                        Usuário: @User.Identity.Name
                    </li>*@
                    <li>
                        <a class="btn btn-danger w-100" asp-area=" " asp-controller="Clientes" asp-action="Logout">Sair</a>
                    </li>

                }
                @* else
                {
                    <li>
                        <a class="btn btn-success w-100" asp-area="" asp-controller="Clientes" asp-action="Login">Entrar</a>
                    </li>
                } *@
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #241E20";>
        <div class="container text-center" style="color: #f0f0f0">
            &copy; 2023 - Cafezinho
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>