@model Cafezinho.Models.Cliente

@{
    ViewData["Title"] = "Login";
}

<div class="row d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="col-md-3">
        <form asp-action="Login">
            <h1 class="h3 font-weight-normal mb-4 text-center">Acessar o sistema</h1>

            <div class="form-group mb-3">
                <label asp-for="Cpf" class="control-label mb-2"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label  mb-2"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Entrar" class="btn btn-success w-100" />
            </div>
            <div>
                <a class="btn btn-primary w-100 mt-2" asp-area=" " asp-controller="Clientes" asp-action="Create">Cadastrar</a>
            </div>
        </form>
        <h6 class="text-center mt-3 text-danger">@ViewBag.Message</h6>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
